<!-- templates/education.html -->
{% extends "base.html" %}

{% block title %}Yaswanth - Education{% endblock %}

{% block content %}
<h1>Education</h1>

<section class="education">
    <h2>B. Tech: Computer Science and Engineering</h2>
    <p><strong>VNRVJIET</strong> | Hyderabad, TG | 2023</p>
    <p>GPA: 8.51</p>
    <h3>Publications:</h3>
    <ul>
        <li>Liver Tumor Risk Prediction using Ensemble Methods. 2022 Sixth International Conference on I-SMAC, doi: 10.1109/I-SMAC55078.2022.9987419</li>
        <li>Apparel Recommendation System using Content-Based Filtering. IJRTE. doi:10.35940/ijrte.D7331.1111422</li>
    </ul>
</section>

<section class="education">
    <h2>Intermediate</h2>
    <p><strong>Hyderabad Institute of Excellence</strong> | Vikarabad | 2017 - 2019</p>
    <p>Percentage: 95.8%</p>
</section>

<section class="education">
    <h2>SSC</h2>
    <p><strong>Sri GVM School</strong> | Pulivendula, Kadapa | 2016 - 2017</p>
    <p>GPA: 9.8</p>
</section>
{% endblock %}