<!-- templates/experience.html -->
{% extends "base.html" %}

{% block title %}Yaswanth - Experience{% endblock %}

{% block content %}
<h1>Professional Experience</h1>

<section class="job">
    <h2>Assistant System Engineer</h2>
    <p><strong>TCS</strong> | Kolkata, India | 06/2023 to present</p>
    <ul>
        <li>Currently working as Assistant System Engineer Trainee </li>
    </ul>
</section>

<section class="job">
    <h2>Software Analyst</h2>
    <p><strong>Energytech Global</strong> | Hyderabad, India | 06/2023 to 09/2023</p>
    <ul>
        <li>Involved in data sanitization by applying triggers and validating those triggers.</li>
        <li>Actively worked on issue and ticket triaging by involving all stakeholders.</li>
    </ul>
</section>

<section class="job">
    <h2>Software Intern</h2>
    <p><strong>Energytech Global</strong> | Hyderabad, India | 01/2023 to 05/2023</p>
    <ul>
        <li>Worked on Odoo bin testing, manual testing of product workflows, and API testing of payment APIs.</li>
    </ul>
</section>
{% endblock %}