
<!-- templates/resume.html -->
{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Resume</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Professional Summary</h2>
                    <p class="card-text">As a software analyst and intern at Energytech Global, I was able to demonstrate my abilities in data sanitization, manual and unit testing.</p>
                </div>
            </div>
            
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Experience</h2>
                    <h3>Software Analyst - Energytech Global</h3>
                    <p class="text-muted">06/2023 to 09/2023</p>
                    <ul>
                        <li>Involved in data sanitization by applying triggers and validating those triggers.</li>
                        <li>Actively worked on issue and ticket triaging by involving all the stakeholders.</li>
                    </ul>
                    
                    <h3>Software Intern - Energytech Global</h3>
                    <p class="text-muted">01/2023 to 05/2023</p>
                    <ul>
                        <li>Worked on odoo bin testing, manual testing of product workflows and API testing of payment APIs.</li>
                    </ul>
                </div>
            </div>
            
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Education</h2>
                    <h3>B. Tech: CSE - VNRVJIET, Hyderabad, TG</h3>
                    <p class="text-muted">Graduated: 2023 | GPA: 8.51</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Contact Information</h2>
                    <p>
                        <i class="fas fa-phone me-2"></i> +91 9347931519<br>
                        <i class="fas fa-envelope me-2"></i> duggasaniyaswanth333@gmail.com<br>
                        <i class="fab fa-linkedin me-2"></i> <a href="https://www.linkedin.com/in/yaswanth-reddy-duggasani-1a4633198/" target="_blank">LinkedIn Profile</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
